
html,body{
    font-family: "Philosopher";
    scroll-behavior: smooth;
}

.body-back{
    background-color: #000;
    color:#fff;
}

.body{
    font-size: 18px;
    color:#fff;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 20px;
}

.lateral{
    border-left: 1px solid rgba(0,0,0,.1);;
    margin-top: 20px;
    margin-bottom: 10px;
    padding: 10px 20px 10px 20px;

    color:#666;
}

.lateral-bloc{
    margin-bottom: 60px;
}

.lateral a{
    color:#666;
}

a{
    color: #aaa;
}
.page{
    /* padding: 0px 50px 0 50px; */
    background-color: #222;
    border: 1px solid white;
    /* margin-bottom: 20px; */
    border-radius: 25px;
}

.main-menu{
    max-width: 1270px;
    margin: 0px auto;
}

.container{
    max-width: 1270px;
    margin:    0px auto;
    padding:   0px;
    /* background-color: white; */
    /* border:           1px  solid #86b0aa; */
}

.main_banner{
    width: 100%;
    margin-top: -60px;
}

.navbar{
    background-color: #000;
    border: 1px solid #fff;
    border-top: 0px;
}
.navbar-nav{
    margin-left: auto;
    margin-right: auto;
}
.navbar-light .navbar-nav .active > .nav-link{
    background-color: white;
    border-radius:    5px;
    color:            #333 !important;
    font-weight:      bolder;
}

a.nav-link{
    color:            #aaa !important;
}

.navbar li:hover{
    background-color: rgba(255,255,255,.7);
    border-radius: 5px;
}

.nav-item {
    margin-right: 5px;
    min-width:    100px;
    text-align:   center;
    color:        #fff !important;
    font-weight: 600;
}
.navbar-light .navbar-nav .nav-link:hover,
.navbar a:hover{
    color: #fff !important;
}

.navbar-light .navbar-nav .nav-link:hover,
.navbar a.active:hover{
    color: #000 !important;
}

.navbar .navbar-toggler-icon{
    color: #fff !important;
}

.navbar .navbar-toggler-icon:hover{
    color: #ddd !important;
}

.menu-icon{
    height: 28px;
    filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(194deg) brightness(108%) contrast(101%);
}

.menu-icon:hover{
    filter: invert(80%) sepia(0%) saturate(0%) hue-rotate(194deg) brightness(88%) contrast(81%);
}
/* .navbar .navbar-brand:hover{
    
} */


.footer{
    background-color: #222;
    padding:          60px 0;
    width:            100%;
    display:          block;
    text-align:       center;
    border: 1px solid #FFF;
    border-bottom: 0px;

}
.footer a{
    color:rgba(255,255,255,.7);
    font-size: 15px;
    margin-left: auto;
    margin-right: auto;
    font-style: italic;
}

/* décalage du menu de 1px pour éviter de sortir du focus avant d'être sur le sous menu */
.dropdown-menu{ 
    margin-top: -1px;
}

.search-container input{
    margin: 0px;
    border: 1px solid rgba(0,0,0,.1);
    padding-left: 5px;
}
.search-container button{
    margin-left: -5px;
    padding: 1px 10px;
    border: 1px solid rgba(0,0,0,.1);
}

.search-container{
    margin: 0px 20px 40px 20px;
}


.facebook-icon{
    height: 25px;
}